<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">   {{!-- Displays an icon before the 'title' in the URL --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}     {{!-- Partial is represented by '>' + the filename of hbs without the extension --}}
    <div class="main-content">
        {{header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

{{!-- 
<footer>
    {{>footer}}
</footer> --}}

</html>